{{ define "main" }}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0" />
    <meta name="description" content="Abdullah's personal website" />
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "assets/main.css" | relURL }}">
  </head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-6NJ9Z9W8NT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-6NJ9Z9W8NT');
  </script>

  <body>
  <script>0</script>
  <script defer src="{{ "js/main.js" | relURL }}"></script>
  <div class="nav">
    <div class="nav-item">
      <div class="resume">📄</div>
      <a class="underline" href="{{ "assets/Resume.pdf" | relURL }}" title="My Resume!!">Resume</a>
    </div>
    <div class="nav-item">
      <div class="rocket">🚀</div>
      <a class="underline" href="{{ "index.html#projects" | relURL }}" title="Projects">Projects</a>
    </div>
    <div class="nav-item">
      <div class="book">📚</div>
      <a class="underline" href="{{ "classes" | relURL }}" title="Classes">Classes</a>
    </div>
    <div class="nav-item">
      <div class="blog">📝</div>
      <a class="underline" href="{{ "notfound" | relURL }}" title="Blog">Blog</a>
    </div>
  </div>
    <div class="bar"></div>
    <h3 class="project-title">Classes</h3>
    <div class="bar"></div>

    <h4 class="sem-title">Spring 2024</h4>
    <ul class="text">
      <li>14.44: Energy Economics and Policy</li>
      <li>6.1100: Computer Language Engineering</li>
    </ul>

    <h4 class="sem-title">Fall 2023</h4>
    <ul class="text">
      <li>6.1810: Operating Systems Engineering</li>
      <li>18.424: Seminar in Information Theory</li>
      <li>14.02: Principles of Macroeconomics</li>
    </ul>

    <h4 class="sem-title">Spring 2023</h4>
    <ul class="text">
      <li>6.5900: Computer System Architecture</li>
      <li>6.5120: Formal Reasoning about Programs</li>
      <li>6.S983: Hardware Security</li>
      <li>14.01: Principles of Microeconomics</li>
    </ul>

    <h4 class="sem-title">Fall 2022</h4>
    <ul class="text">
      <li>6.1060: Software Performance Engineering</li>
      <li>6.854: Advanced Algorithms</li>
      <li>6.2050: Digital Systems Lab</li>
    </ul>

    <h4 class="sem-title">Spring 2022</h4>
    <ul class="text">
      <li>6.031: Elements of Software Construction</li>
      <li>6.08: Embedded Systems</li>
      <li>6.858: Computer Systems Security</li>
      <li>18.600: Probability and Random Variables</li>
      <li>21W.747: Rhetoric</li>
    </ul>

    <h4 class="sem-title">Fall 2021</h4>
    <ul class="text">
      <li>6.036: Introduction to Machine Learning</li>
      <li>6.840: Theory of Computation</li>
      <li>6.006: Introduction to Algorithms</li>
      <li>18.701: Algebra I</li>
      <li>18.901: Introduction to Topology</li>
      <li>21M.600: Introduction to Acting</li>
    </ul>

    <h4 class="sem-title">Spring 2021</h4>
    <ul class="text">
      <li>6.004: Computation Structures</li>
      <li>6.009: Fundamentals of Programming</li>
      <li>8.02: Physics II</li>
      <li>18.032: Differential Equations</li>
      <li>18.100B: Real Analysis</li>
    </ul>

    <h4 class="sem-title">Fall 2020</h4>
    <ul class="text">
      <li>6.0001: Introduction to Computer Science Programming in Python</li>
      <li>6.0002: Introduction to Computational Thinking and Data Science</li>
      <li>8.012: Physics I</li>
      <li>14.009: Economics and Society's Problems</li>
      <li>18.022: Calculus</li>
      <li>18.A03: Knot Theory</li>
      <li>21W.011: Writing and Rhetoric</li>
    </ul>


    <div class="bar"></div>
  </body>

</html>

{{ end }}