<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Blog post by Abdullah" />
  <title>{{ .Site.Title }}</title>
  <link rel="stylesheet" href="{{ "assets/blog.css" | relURL }}">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6NJ9Z9W8NT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6NJ9Z9W8NT');
</script>

<article>
    <h1>{{ .Title }}</h1>
    <h2> Blog Post</h2>
    <div>{{ .Content }}</div>
</article>
</html> 
