:root {
  --background-color: hsl(270, 7%, 13%);
  --foreground-color: hsl(30, 10%, 85%);
  --my-orange: #C19C15;
  --transition-speed: 600ms;
  --font-stack: 'Open Sans', sans-serif;
}

* {
  font-family: var(--font-stack);
}

p.text {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.7em;
  color: var(--foreground-color);
  display: block;
}

.nav-item {
  display: flex;
  align-items: center;
}

h2.intro {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 1em 0;
  color: var(--foreground-color);
}

.underline {
  text-decoration: underline;
  text-decoration-color: var(--my-orange);
  transition: border-bottom 0.1s ease-in-out;
}

.underline:hover {
  border-bottom: 1px solid var(--my-orange);
}

.rocket {
  transition: transform 0.6s ease-in-out;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative;
}

div.nav-item:hover .rocket {
  transform: translate(100%, -100%);
}

.book {
  transition: animation 0.6s ease-in-out;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  10% {
    transform: translateY(-2px);
  }

  25% {
    transform: translateX(-2px);
  }

  35% {
    transform: translateY(2px);
  }

  50% {
    transform: translateX(2px);
  }

  75% {
    transform: translateX(-2px);
  }

  100% {
    transform: translateX(0);
  }
}

div.nav-item:hover .book {
  animation: shake 0.6s ease-in-out;
}

@keyframes swivel {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(10deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

div.nav-item:hover .resume {
  animation: swivel 0.3s ease-in-out;
}


.resume {
  transition: animation 0.3s ease-in-out;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative;
}


a {
  color: var(--foreground-color);
  text-decoration: none;
}


.text-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  padding: 1em 0;
  border-top: 1px solid var(--my-orange);
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 0 0 1em 0;
  border-bottom: 1px solid var(--my-orange);
}

body {
  max-width: 768px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 1em;
  background-color: var(--background-color);
}

html {
  background-color: var(--background-color);
}

@media (min-width: 768px) {
  .text-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
